@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Outfit', sans-serif;
}

.wrapper{
    width: 90%;
    height: 90%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
}

.wrapper .left{
    width: 60%;
    position: relative;
    height: 100%;
}
.wrapper .right{
    width: 40%;
    overflow: hidden;
    position: relative;
}
.wrapper .right>*{
    width: 100%;
}
.wrapper .right img:nth-of-type(even){
    position: relative;
    border-radius: 50% 25% 30% 70%;
    scale: .7;
    -webkit-border-radius: 50% 25% 30% 70%;
    -moz-border-radius: 50% 25% 30% 70%;
    -ms-border-radius: 50% 25% 30% 70%;
    -o-border-radius: 50% 25% 30% 70%;
}
.wrapper .right img:nth-of-type(odd){
    position:absolute;
}
.wrapper .right img:nth-child(3){
    z-index: 2;
    left: 15%;
    bottom: 20%;
    width: 100px;
    rotate: 65deg;
}
.wrapper .left h1{
    margin: 5rem 0 3rem;
    font-size: 8rem;
    max-width: 50vw;
    line-height: 1ch;
}
.wrapper .left p{
    max-width: 500px;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.wrapper .left a{
    display: inline-block;
    padding: 1rem 2.25rem;
    text-transform: uppercase;
    border: 2px solid #e5e900;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: inherit;
    background: #000;
    color: antiquewhite;
}
.wrapper .left .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.wrapper .left .logo svg{
    height: 30px;
    aspect-ratio: 1/1;
}
.wrapper .left .social{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    text-transform: uppercase;
    background: rgba(0,0,0,0.2);
}
.wrapper .left .social i{
    font-size: 1.5rem;
    margin-right: -.75rem;
    color: #e5e900;
}
.wrapper .left .social p{
    margin-bottom: 0;
    font-size: 1.25rem;
}
.wrapper .left .social  span{
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background: white;
    margin-bottom: .85rem;
}

.wrapper .left .logo h3{
    font-size: 20px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
}
